body {
  font-family: "Montserrat", Arial;
  color: #515076;
  background-image: url("images/bg_1.png");
  background-size: 790px 697px;
  background-repeat: no-repeat;
  font-size: 13px;
  background-position: 80px 0px;
}

.title {
    text-align: center;
    color: #515076;
    margin-top: 200px;
    font-size: 70px;
    font-weight: 400;
}

.product-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  padding: 20px;
  background-color: #F7F7FA;
  border-radius: 10px;
  margin: 20px;
  width: 300px;
}

.product-card__image {
  width: 300px;
  height: 300px;
}

.product-card__description {
  color:#A5A3B9
}

.product-card__title {
  font-size: 20px;
  color: #515076;
}

.product-card__comment {
  margin-bottom: 20px; 
}

.product-card__component-list {
  padding-left: 15px;
  padding-top: 5px;
}

.product-card__price {
  display: flex;
  justify-content: space-between;
  font-size: 20px;

}

.product-card__price-value {
  font-weight: 400;
}

.change-color-card-button {
  background-color: aliceblue;
}

.change-color-allcards-button {
  background-color: aliceblue;
}

.second-color-button{
  background-color: rgb(208, 137, 175);
}

.change-color-button {
  background-color: rgb(145, 185, 220);
}

.open-google-button {
  background-color: aliceblue;
}